In [6]:
import pandas as pd

In [7]:
import numpy as np

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
import tensorflow as tf

In [10]:
df = pd.read_csv('/Users/nikolajsutugin/Desktop/tgt/drive-download-20230327T125919Z-001/train.csv')

In [11]:
df.head()

,data_1,data_2,data_3,data_4,data_5,data_6,data_7,data_8,data_9,data_10,...,data_292,data_293,data_294,data_295,data_296,data_297,data_298,data_299,data_300,label
0,-0.266033,-0.496437,-0.572447,-0.220903,0.266033,0.643705,0.365796,0.375297,0.014252,-0.527316,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,0.125475,-0.007605,-0.030418,0.285171,0.574144,0.418251,0.304183,0.277567,0.433460,0.231939,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2,0.130435,0.445652,0.358696,0.086957,-0.076087,0.173913,0.173913,0.304348,0.141304,0.304348,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3,0.032628,-0.019400,0.033510,-0.009700,0.037919,-0.014109,0.008818,-0.005291,0.027337,-0.037919,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
4,0.006105,0.005723,0.004197,-0.001145,-0.009538,-0.009538,-0.000382,-0.006868,-0.006105,-0.012591,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [92]:
med_values = df[df.columns[:-1]].median(axis=1, skipna=True)
df['median'] = med_values

In [93]:
std_values = df[df.columns[:-2]].std(axis=1, skipna=True)
df['std'] = std_values

In [94]:
mean_values = df[df.columns[:-3]].mean(axis=1, skipna=True)
df['mean'] = mean_values

In [95]:
sum_values = df[df.columns[:-4]].sum(axis=1)
df['sum'] = sum_values

In [96]:
df = df.fillna(0)

In [97]:
df

,data_1,data_2,data_3,data_4,data_5,data_6,data_7,data_8,data_9,data_10,...,data_296,data_297,data_298,data_299,data_300,label,median,std,mean,sum
0,-0.266033,-0.496437,-0.572447,-0.220903,0.266033,0.643705,0.365796,0.375297,0.014252,-0.527316,...,0.0,0.0,0.0,0.0,0.0,0,0.036817,0.439014,0.013903,2.085511
1,0.125475,-0.007605,-0.030418,0.285171,0.574144,0.418251,0.304183,0.277567,0.433460,0.231939,...,0.0,0.0,0.0,0.0,0.0,0,-0.001901,0.369065,0.018098,3.692015
2,0.130435,0.445652,0.358696,0.086957,-0.076087,0.173913,0.173913,0.304348,0.141304,0.304348,...,0.0,0.0,0.0,0.0,0.0,0,0.097826,0.317564,0.069444,7.500000
3,0.032628,-0.019400,0.033510,-0.009700,0.037919,-0.014109,0.008818,-0.005291,0.027337,-0.037919,...,0.0,0.0,0.0,0.0,0.0,1,0.002646,0.247292,0.005754,0.799824
4,0.006105,0.005723,0.004197,-0.001145,-0.009538,-0.009538,-0.000382,-0.006868,-0.006105,-0.012591,...,0.0,0.0,0.0,0.0,0.0,0,-0.001145,0.223418,-0.000398,-0.109500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3787,-0.237154,0.035573,0.379447,0.579051,0.370553,-0.127470,-0.508893,-0.584980,-0.382411,-0.128458,...,0.0,0.0,0.0,0.0,0.0,0,-0.013340,0.405706,0.000918,0.077075
3788,-0.005171,-0.010341,-0.010686,-0.009997,-0.004826,0.009307,0.008618,-0.030679,-0.021372,-0.038263,...,0.0,0.0,0.0,0.0,0.0,1,0.001206,0.125106,0.001739,0.233023
3789,-0.026871,-0.024952,0.030710,-0.057582,0.074856,0.107486,-0.003839,0.151631,0.142035,0.024952,...,0.0,0.0,0.0,0.0,0.0,1,0.019194,0.238411,0.012769,1.838772
3790,0.094170,0.125561,0.269058,0.130045,-0.219731,0.134529,0.304933,0.251121,0.269058,0.139013,...,0.0,0.0,0.0,0.0,0.0,0,0.022422,0.314327,0.023450,3.681614
3791,-0.001373,0.012815,-0.000915,-0.005950,-0.002746,-0.002746,-0.005950,-0.003661,-0.001373,0.000915,...,0.0,0.0,0.0,0.0,0.0,0,-0.000915,0.154410,-0.000570,-0.145995

In [98]:
y = df['label'].copy()
x = df.drop('label',axis=1).copy()

In [101]:
x_train, x_test, y_train, y_test = train_test_split(x,y,train_size=0.6, random_state=42)

In [102]:
x_train = np.expand_dims(x_train, 2)
x_test = np.expand_dims(x_test, 2)

print(x_train.shape)
print(x_test.shape)

(2275, 304, 1)
(1517, 304, 1)

In [103]:
from tensorflow.keras import utils
y_train = utils.to_categorical(y_train)
y_test  = utils.to_categorical(y_test)

print(y_train.shape)
print(y_test.shape)

(2275, 2)
(1517, 2)

In [109]:
n_obs, feature, depth = x_train.shape
num_classes= 2

In [110]:
from tensorflow.keras import models, layers, optimizers, callbacks

inputs = layers.Input(shape=(feature,depth))
C   = layers.Conv1D(filters=32, kernel_size=5, strides=1)(inputs)

C11 = layers.Conv1D(filters=32, kernel_size=5, strides=1, padding='same')(C)
A11 = layers.Activation("relu")(C11)
C12 = layers.Conv1D(filters=32, kernel_size=5, strides=1, padding='same')(A11)
S11 = layers.Add()([C12, C])
A12 = layers.Activation("relu")(S11)
M11 = layers.MaxPooling1D(pool_size=5, strides=2)(A12)


C21 = layers.Conv1D(filters=32, kernel_size=5, strides=1, padding='same')(M11)
A21 = layers.Activation("relu")(C21)
C22 = layers.Conv1D(filters=32, kernel_size=5, strides=1, padding='same')(A21)
S21 = layers.Add()([C22, M11])
A22 = layers.Activation("relu")(S11)
M21 = layers.MaxPooling1D(pool_size=5, strides=2)(A22)


C31 = layers.Conv1D(filters=32, kernel_size=5, strides=1, padding='same')(M21)
A31 = layers.Activation("relu")(C31)
C32 = layers.Conv1D(filters=32, kernel_size=5, strides=1, padding='same')(A31)
S31 = layers.Add()([C32, M21])
A32 = layers.Activation("relu")(S31)
M31 = layers.MaxPooling1D(pool_size=5, strides=2)(A32)


C41 = layers.Conv1D(filters=32, kernel_size=5, strides=1, padding='same')(M31)
A41 = layers.Activation("relu")(C41)
C42 = layers.Conv1D(filters=32, kernel_size=5, strides=1, padding='same')(A41)
S41 = layers.Add()([C42, M31])
A42 = layers.Activation("relu")(S41)
M41 = layers.MaxPooling1D(pool_size=5, strides=2)(A42)


C51 = layers.Conv1D(filters=32, kernel_size=5, strides=1, padding='same')(M41)
A51 = layers.Activation("relu")(C51)
C52 = layers.Conv1D(filters=32, kernel_size=5, strides=1, padding='same')(A51)
S51 = layers.Add()([C52, M41])
A52 = layers.Activation("relu")(S51)
M51 = layers.MaxPooling1D(pool_size=5, strides=2)(A52)

F1  = layers.Flatten()(M51)

D1  = layers.Dense(32)(F1)
A6  = layers.Activation("relu")(D1)
D2  = layers.Dense(32)(A6)

outputs = layers.Dense(num_classes, activation="softmax")(D2)

model = models.Model(inputs=inputs, outputs=outputs)

model.summary()

Model: "model_4"
__________________________________________________________________________________________________
 Layer (type)                   Output Shape         Param #     Connected to
==================================================================================================
 input_5 (InputLayer)           [(None, 304, 1)]     0           []

 conv1d_44 (Conv1D)             (None, 300, 32)      192         ['input_5[0][0]']

 conv1d_45 (Conv1D)             (None, 300, 32)      5152        ['conv1d_44[0][0]']

 activation_44 (Activation)     (None, 300, 32)      0           ['conv1d_45[0][0]']

 conv1d_46 (Conv1D)             (None, 300, 32)      5152        ['activation_44[0][0]']

 add_20 (Add)                   (None, 300, 32)      0           ['conv1d_46[0][0]',
                                                                  'conv1d_44[0][0]']

 activation_47 (Activation)     (None, 300, 32)      0           ['add_20[0][0]']

 max_pooling1d_21 (MaxPooling1D  (None, 148, 32)     0           ['activation_47[0][0]']
 )

 conv1d_49 (Conv1D)             (None, 148, 32)      5152        ['max_pooling1d_21[0][0]']

 activation_48 (Activation)     (None, 148, 32)      0           ['conv1d_49[0][0]']

 conv1d_50 (Conv1D)             (None, 148, 32)      5152        ['activation_48[0][0]']

 add_22 (Add)                   (None, 148, 32)      0           ['conv1d_50[0][0]',
                                                                  'max_pooling1d_21[0][0]']

 activation_49 (Activation)     (None, 148, 32)      0           ['add_22[0][0]']

 max_pooling1d_22 (MaxPooling1D  (None, 72, 32)      0           ['activation_49[0][0]']
 )

 conv1d_51 (Conv1D)             (None, 72, 32)       5152        ['max_pooling1d_22[0][0]']

 activation_50 (Activation)     (None, 72, 32)       0           ['conv1d_51[0][0]']

 conv1d_52 (Conv1D)             (None, 72, 32)       5152        ['activation_50[0][0]']

 add_23 (Add)                   (None, 72, 32)       0           ['conv1d_52[0][0]',
                                                                  'max_pooling1d_22[0][0]']

 activation_51 (Activation)     (None, 72, 32)       0           ['add_23[0][0]']

 max_pooling1d_23 (MaxPooling1D  (None, 34, 32)      0           ['activation_51[0][0]']
 )

 conv1d_53 (Conv1D)             (None, 34, 32)       5152        ['max_pooling1d_23[0][0]']

 activation_52 (Activation)     (None, 34, 32)       0           ['conv1d_53[0][0]']

 conv1d_54 (Conv1D)             (None, 34, 32)       5152        ['activation_52[0][0]']

 add_24 (Add)                   (None, 34, 32)       0           ['conv1d_54[0][0]',
                                                                  'max_pooling1d_23[0][0]']

 activation_53 (Activation)     (None, 34, 32)       0           ['add_24[0][0]']

 max_pooling1d_24 (MaxPooling1D  (None, 15, 32)      0           ['activation_53[0][0]']
 )

 flatten_4 (Flatten)            (None, 480)          0           ['max_pooling1d_24[0][0]']

 dense_12 (Dense)               (None, 32)           15392       ['flatten_4[0][0]']

 activation_54 (Activation)     (None, 32)           0           ['dense_12[0][0]']

 dense_13 (Dense)               (None, 32)           1056        ['activation_54[0][0]']

 dense_14 (Dense)               (None, 2)            66          ['dense_13[0][0]']

==================================================================================================
Total params: 57,922
Trainable params: 57,922
Non-trainable params: 0
__________________________________________________________________________________________________

In [111]:
model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])

In [112]:
batch_size = 100
num_epochs = 10

In [113]:
history = model.fit(x_train, y_train, epochs=num_epochs, batch_size=batch_size, validation_data=(x_test, y_test))

Epoch 1/10
23/23 [==============================] - 10s 300ms/step - loss: 0.3451 - accuracy: 0.8031 - val_loss: 0.2353 - val_accuracy: 0.8629
Epoch 2/10
23/23 [==============================] - 7s 316ms/step - loss: 0.1876 - accuracy: 0.9213 - val_loss: 0.1534 - val_accuracy: 0.9341
Epoch 3/10
23/23 [==============================] - 7s 325ms/step - loss: 0.1118 - accuracy: 0.9565 - val_loss: 0.1220 - val_accuracy: 0.9545
Epoch 4/10
23/23 [==============================] - 8s 338ms/step - loss: 0.0988 - accuracy: 0.9587 - val_loss: 0.0979 - val_accuracy: 0.9572
Epoch 5/10
23/23 [==============================] - 8s 339ms/step - loss: 0.0938 - accuracy: 0.9657 - val_loss: 0.0957 - val_accuracy: 0.9644
Epoch 6/10
23/23 [==============================] - 8s 342ms/step - loss: 0.0630 - accuracy: 0.9741 - val_loss: 0.0827 - val_accuracy: 0.9664
Epoch 7/10
23/23 [==============================] - 11s 490ms/step - loss: 0.0432 - accuracy: 0.9868 - val_loss: 0.1016 - val_accuracy: 0.9611
Epoch 8/10
23/23 [==============================] - 12s 531ms/step - loss: 0.0479 - accuracy: 0.9820 - val_loss: 0.0650 - val_accuracy: 0.9710
Epoch 9/10
23/23 [==============================] - 12s 504ms/step - loss: 0.0254 - accuracy: 0.9916 - val_loss: 0.0574 - val_accuracy: 0.9743
Epoch 10/10
23/23 [==============================] - 9s 383ms/step - loss: 0.0189 - accuracy: 0.9925 - val_loss: 0.0498 - val_accuracy: 0.9796

In [114]:
from sklearn.metrics import classification_report, confusion_matrix

labels = ["0",
          "1",
          ]

In [115]:
predY = model.predict(x_test)
y_pred = np.argmax(predY,axis=1)
y_actual = np.argmax(y_test,axis=1)
cm = confusion_matrix(y_actual, y_pred)
print(cm)

48/48 [==============================] - 1s 18ms/step
[[1245   11]
 [  20  241]]

In [118]:
y_actual

array([0, 0, 0, ..., 0, 1, 0])

In [116]:
print(classification_report(y_actual, y_pred, target_names=labels))

              precision    recall  f1-score   support

           0       0.98      0.99      0.99      1256
           1       0.96      0.92      0.94       261

    accuracy                           0.98      1517
   macro avg       0.97      0.96      0.96      1517
weighted avg       0.98      0.98      0.98      1517

In [54]:
pred = model.predict(x_test)

48/48 [==============================] - 1s 19ms/step

In [57]:
test_df = pd.read_csv('/Users/nikolajsutugin/Desktop/tgt/drive-download-20230327T125919Z-001/test_1.csv')

In [58]:
test_df

,data_1,data_2,data_3,data_4,data_5,data_6,data_7,data_8,data_9,data_10,...,data_291,data_292,data_293,data_294,data_295,data_296,data_297,data_298,data_299,data_300
0,0.049618,0.054707,-0.027990,-0.001272,-0.011450,-0.002545,0.030534,-0.005089,0.010178,-0.036896,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.004296,0.016323,0.006014,0.006014,0.006873,0.025773,0.045533,0.032646,-0.011168,0.012887,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0.010651,0.001183,0.016568,-0.005917,0.013018,0.007101,-0.033136,0.009467,0.029586,0.003550,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0.003610,0.041516,-0.009025,0.043321,-0.001805,0.037906,-0.032491,0.041516,0.025271,0.007220,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,-0.047438,0.024566,0.016942,0.045320,0.086828,0.047014,-0.039390,-0.077510,-0.035578,-0.033460,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
445,0.011589,-0.023179,0.024834,0.056291,-0.041391,0.026490,-0.009934,0.024834,0.013245,-0.024834,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
446,0.006294,-0.002098,-0.002797,0.000000,-0.005594,0.013986,0.019580,0.009790,0.001399,-0.002797,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
447,0.045381,-0.004862,-0.012966,0.050243,0.034036,-0.024311,-0.008104,0.029173,0.000000,0.008104,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
448,-0.065476,-0.017857,-0.172619,-0.005952,0.041667,0.160714,0.184524,0.011905,0.041667,0.190476,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
449,0.026572,-0.037135,-0.004786,-0.018320,0.010398,0.025747,0.000660,0.003136,-0.013699,-0.020961,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [66]:
med_values = test_df[test_df.columns[:1]].median(axis=1, skipna=True)
test_df['median'] = med_values

In [67]:
std_values = test_df[test_df.columns[:-1]].std(axis=1, skipna=True)
test_df['std'] = std_values

In [68]:
mean_values = test_df[test_df.columns[:-2]].mean(axis=1, skipna=True)
test_df['mean'] = mean_values

In [69]:
sum_values = test_df[test_df.columns[:-3]].sum(axis=1)
test_df['sum'] = sum_values

In [70]:
test_df = test_df.fillna(0)

In [71]:
test_df

,data_1,data_2,data_3,data_4,data_5,data_6,data_7,data_8,data_9,data_10,...,data_295,data_296,data_297,data_298,data_299,data_300,median,std,mean,sum
0,0.049618,0.054707,-0.027990,-0.001272,-0.011450,-0.002545,0.030534,-0.005089,0.010178,-0.036896,...,0.0,0.0,0.0,0.0,0.0,0.0,0.049618,0.135607,0.003899,1.041985
1,0.004296,0.016323,0.006014,0.006014,0.006873,0.025773,0.045533,0.032646,-0.011168,0.012887,...,0.0,0.0,0.0,0.0,0.0,0.0,0.004296,0.141786,0.004256,1.143471
2,0.010651,0.001183,0.016568,-0.005917,0.013018,0.007101,-0.033136,0.009467,0.029586,0.003550,...,0.0,0.0,0.0,0.0,0.0,0.0,0.010651,0.128916,0.004177,1.132544
3,0.003610,0.041516,-0.009025,0.043321,-0.001805,0.037906,-0.032491,0.041516,0.025271,0.007220,...,0.0,0.0,0.0,0.0,0.0,0.0,0.003610,0.138309,0.009441,2.712996
4,-0.047438,0.024566,0.016942,0.045320,0.086828,0.047014,-0.039390,-0.077510,-0.035578,-0.033460,...,0.0,0.0,0.0,0.0,0.0,0.0,-0.047438,0.127280,0.002033,0.486658
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
445,0.011589,-0.023179,0.024834,0.056291,-0.041391,0.026490,-0.009934,0.024834,0.013245,-0.024834,...,0.0,0.0,0.0,0.0,0.0,0.0,0.011589,0.129101,0.006798,1.923841
446,0.006294,-0.002098,-0.002797,0.000000,-0.005594,0.013986,0.019580,0.009790,0.001399,-0.002797,...,0.0,0.0,0.0,0.0,0.0,0.0,0.006294,0.167720,0.004821,1.288112
447,0.045381,-0.004862,-0.012966,0.050243,0.034036,-0.024311,-0.008104,0.029173,0.000000,0.008104,...,0.0,0.0,0.0,0.0,0.0,0.0,0.045381,0.190234,0.006909,1.896272
448,-0.065476,-0.017857,-0.172619,-0.005952,0.041667,0.160714,0.184524,0.011905,0.041667,0.190476,...,0.0,0.0,0.0,0.0,0.0,0.0,-0.065476,0.251629,-0.001335,-0.654762
449,0.026572,-0.037135,-0.004786,-0.018320,0.010398,0.025747,0.000660,0.003136,-0.013699,-0.020961,...,0.0,0.0,0.0,0.0,0.0,0.0,0.026572,0.116940,0.000897,0.153986

In [119]:
seq_predictions = model.predict(test_df)

15/15 [==============================] - 1s 17ms/step

In [121]:
seq_predictions=model.predict(test_df)
print('Outputs shape')    
print(seq_predictions.shape) # prints (n,1) but  need (n,)
seq_predictions=np.transpose(seq_predictions)[0]  # transformation to get (n,)
print(seq_predictions.shape)  # now the shape is (n,)
# Applying transformation to get binary values predictions with 0.5 as thresold
seq_predictions = list(map(lambda x: 0 if x<0.5 else 1, seq_predictions))

15/15 [==============================] - 0s 23ms/step
Outputs shape
(450, 2)
(450,)

In [123]:
len(seq_predictions)

450

In [124]:
result_1 = pd.DataFrame({"label":seq_predictions})
result_1.to_csv("submission_40.csv", index=False)